
<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->
<script>
$( document ).ready(function() {
  // Handler for .ready() called.

$('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2,h3,h4' });

/* this offset helps account for the space taken up by the floating toolbar. */
$('#toc').on('click', 'a', function() {
  var target = $(this.getAttribute('href'))
    , scroll_target = target.offset().top

  $(window).scrollTop(scroll_target - 10);
  return false
})
  
});
</script>

<div id="toc">
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div align="right" class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="ko_KR" data-type="vertical" data-theme="dark" data-vanity="hyeonho-shin-89253a136"><a class="LI-simple-link" href='https://kr.linkedin.com/in/hyeonho-shin-89253a136?trk=profile-badge'>Hyeonho Shin</a></div>
</div>
	